<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">

    <select id="printBoardList" resultType="com.example.demo.dto.BoardDto">
        SELECT *,
               CASE
                   WHEN reg_date::date = CURRENT_DATE THEN TO_CHAR(reg_date, 'HH24:MI:SS')
                   ELSE TO_CHAR(reg_date, 'YYYY-MM-DD HH24:MI:SS')
                   END AS display_date
        FROM board
        ORDER BY reg_date DESC;
    </select>

    <select id="printBoardList_i" resultType="com.example.demo.dto.BoardDto">
        SELECT *,
               CASE
                   WHEN reg_date::date = CURRENT_DATE THEN TO_CHAR(reg_date, 'HH24:MI:SS')
                   ELSE TO_CHAR(reg_date, 'YYYY-MM-DD HH24:MI:SS')
                   END AS display_date
        FROM board
        ORDER BY reg_date DESC
        LIMIT 20
            OFFSET(
            CASE WHEN COALESCE(#{nowPage},0)&lt;=0 THEN 0
                 ELSE (#{nowPage}-1)*20
                END
            )
    </select>


    <select id="searchBoardLists_mem" parameterType="java.lang.String" resultType="com.example.demo.dto.BoardDto">
        select * from board where reg_member LIKE CONCAT('%', #{sccon}, '%') and board.del_date IS NULL
    </select>

    <select id="searchBoardLists_title" parameterType="java.lang.String" resultType="com.example.demo.dto.BoardDto">
        select * from board where title LIKE CONCAT('%', #{sccon}, '%') and board.del_date IS NULL
    </select>

    <select id="searchBoardLists_date" parameterType="java.lang.String" resultType="com.example.demo.dto.BoardDto">
        select * from board where reg_date LIKE CONCAT('%', #{sccon}, '%') and board.del_date IS NULL
    </select>



<!--    <select id="consearch" resultType="com.example.demo.dto.BoardDto">-->
<!--        SELECT * FROM board where 1=1-->
<!--        <if test="regMember != null and regMember != ''">-->
<!--            AND RegMember LIKE '%#{RegMember}%'-->
<!--        </if>-->
<!--        <if test="title != null and title != ''">-->
<!--            AND title = #{title}-->
<!--        </if>-->
<!--        <if test="regDate != null and regDate != ''">-->
<!--            AND regDate = #{regDate}-->
<!--        </if>-->
<!--    </select>-->

<!--    업뎃 댓글 삭제-->

    <update id="updatedat" parameterType="com.example.demo.dto.BoardCommentDto">
        UPDATE board_comment
        SET
        comment = #{comment},
        mod_date = #{modDate},
        mod_ip = #{modIp},
        mod_member = #{modMember}
        WHERE id = #{id}
        <selectKey order="BEFORE" resultType="java.lang.Long" keyProperty="id">
            select id from board_comment WHERE id = #{id};
        </selectKey>
    </update>

    <update id="softDeldat" parameterType="com.example.demo.dto.BoardCommentDto">
        UPDATE board_comment
        SET
        del_date = #{delDate},
        del_ip = #{delIp},
        del_member = #{delMember}
        WHERE id = #{id}
        <selectKey order="BEFORE" resultType="java.lang.Long" keyProperty="id">
            select id from board_comment WHERE id = #{id};
        </selectKey>
    </update>


    <select id="cntLists" resultType="java.lang.Long">
        SELECT COUNT(*) FROM board WHERE del_date IS NULL;
    </select>


    <select id="printComments" parameterType="java.lang.Long" resultType="com.example.demo.dto.BoardCommentDto">
        SELECT * FROM board_comment WHERE board_id = #{id}
    </select>



    <select id="printBoardById" parameterType="java.lang.Long" resultType="com.example.demo.dto.BoardDto">
        SELECT * FROM board WHERE id = #{id}
    </select>


    <insert id="registerBoard" parameterType="com.example.demo.dto.BoardDto">
        INSERT INTO board (title,content,reg_date,reg_ip,reg_member)
        VALUES ( #{title}, #{content}, #{regDate}, #{regIp}, #{regMember})
    </insert>

    <insert id="registerdat" parameterType="com.example.demo.dto.BoardCommentDto">
        INSERT INTO board_comment (id,parent_id, board_id, comment, reg_date, reg_ip, reg_member)
        VALUES (nextval('board_comment_id_seq'),#{parentId}, #{boardId}, #{comment}, #{regDate}, #{regIp}, #{regMember})
    </insert>

    <update id="updateBoard" parameterType="com.example.demo.dto.BoardDto">
        UPDATE board
        SET
            title = COALESCE(#{title},title),
            content = COALESCE(#{content},content),
            mod_date = #{modDate},
            mod_ip = #{modIp},
            mod_member = #{modMember}
        WHERE id = #{id}
        <selectKey order="BEFORE" resultType="java.lang.Long" keyProperty="id">
            select id from board WHERE id = #{id};
        </selectKey>
    </update>

    <update id="softDelBoard" parameterType="com.example.demo.dto.BoardDto">
        UPDATE board
        SET
            title = COALESCE(#{title},title),
            content = COALESCE(#{content},content),
            mod_date = COALESCE(#{modDate},mod_date),
            mod_ip = COALESCE(#{modIp},mod_ip),
            mod_member = COALESCE(#{modMember},mod_member),
            del_date = #{delDate},
            del_ip = #{delIp},
            del_member = #{delMember}
        WHERE id = #{id}
        <selectKey order="BEFORE" resultType="java.lang.Long" keyProperty="id">
            select id from board WHERE id = #{id};
        </selectKey>
    </update>

<!--    <update id="updateComment" parameterType="com.example.demo.dto.BoardCommentDto">-->
<!--        UPDATE board_comment-->
<!--        SET title = #{title}, content = #{content}, mod_ip = #{modIp}, mod_date = #{modDate}, mod_member = #{modMember}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->






    <select id="printActBoards" resultType="com.example.demo.dto.BoardDto">

        SELECT *,
               CASE
                   WHEN reg_date::date = CURRENT_DATE THEN TO_CHAR(reg_date, 'HH24:MI:SS')
                   ELSE TO_CHAR(reg_date, 'YYYY-MM-DD HH24:MI:SS')
                   END AS dipdate
        FROM board
        WHERE board.del_date IS NULL
        ORDER BY reg_date DESC
        LIMIT 20
            OFFSET(
            CASE WHEN COALESCE(#{nowPage},0)&lt;=0 THEN 0
                 ELSE (#{nowPage}-1)*20
                END
            )
    </select>

</mapper>



